@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  background-color: var(--primary-color);
}

main {
  padding: 1rem;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

h1 {
  padding: 20px 50px !important;
  transition: .3s;
  font-size: 17px;
  font-weight: bold;
  border-radius: 0.25rem;
  border: 1px solid #FECACA;
  padding: 1rem;
}

h1:hover {
  background-color: rgba(128, 128, 128, 0.129);
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  max-width: 32rem;
  border: 1px solid #E5E7EB;
  padding: 1rem;
  border-radius: 0.375rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 300px;
  overflow-y: auto;
}

.message-id {
  animation: fade-in 0.3s;
  padding: 1rem;
  max-width: 80%;
  border-radius: 1.5rem;
  color: white;

}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.bot {
  background-color: #64748B;
  text-align: left;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.user {
  background-color: #3B82F6;
  text-align: right;
  align-self: flex-end;
  border-bottom-right-radius: 0;

}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.input {
  width: 99%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0px 4px 6px -1px rgba(246, 5, 5, 0.1), 
  0px 2px 4px -1px rgba(255, 7, 7, 0.67);
  transition: .3s;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex: 1;
  border: 0.1px solid rgba(255, 0, 0, 0.297);
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

.input:hover {
  box-shadow: 0px 4px 6px -1px rgba(243, 203, 203, 0.559), 
  0px 2px 4px -1px rgba(164, 132, 132, 0.223);
}

.input:focus {
  font-weight: bold;
}

.loading-btn {
 transition: .3s;
 width: 60px;
 height: 40px;
 margin-top: 20px;
 position: absolute;
 left: 418px;
 top: -21px;
 font-size: 19px;
 background-color: transparent;
}

.loading-btn:hover {
  transform: scale(1.1);
  font-weight: bold;
}
